.page {width: 100%;height: 100%;}
#page01 {background-color: #e7e6e6;}
.page_bg {width: 100%;}
.logo {position: absolute; width: 31.7%;top: 2%;left: 3%;}
.slogan, .slogan_fun {position: absolute;top: 10%;left: 0;width: 100%;}